header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #12559b;
  img {
    min-width: 10% !important;
    max-width: 15% !important;
  }
  a {
    color: #12559b;
  }


}
