header {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  color: #12559b;
  z-index: 1;
  background-color: white !important;
  img {
    max-width: 100% !important;
    max-height: 100px;
  }
  a {
    color: #12559b;
  }

}
