<mat-card  fxLayout="column" fxLayoutAlign="start stretch">
  <mat-card-header>
    <mat-card-title>Como Se libertar de Forma Prática dos Pré-conceitos</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <br>

    <p>Você já se pegou pensando ou agindo de forma preconceituosa, limitante ou negativa em relação a si mesmo, aos
      outros ou ao mundo? Se a resposta for sim, saiba que você não está sozinho. Todos nós temos pré-conceitos, crenças e
      juízos de valor que influenciam a nossa forma de ver, de pensar, de sentir e de agir. Esses são conceitos prévios
      que formamos em nossa mente sobre algo ou alguém, antes de ter um conhecimento real ou profundo sobre o assunto.
      Eles podem ter origem na nossa cultura, na nossa educação, na nossa experiência, na nossa emoção, e merecem a nossa
      atenção, pois modela o nosso comportamento.</p>

    <p>No entanto, esses recursos da mente podem ser muito prejudiciais para o nosso desenvolvimento pessoal e
      profissional, pois podem nos impedir de alcançar o nosso sucesso existencial. O sucesso existencial é o tipo de
      sucesso perfeito que abrange todas as áreas da vida e que está alinhado com a nossa essência, os nossos valores, os
      nossos talentos e os nossos propósitos. É o tipo de sucesso que nos traz felicidade, realização e significado. É o
      tipo de sucesso que realmente vale a pena.</p>

    <p>Mas como se libertar destas falhas lógicas que limitam o nosso sucesso existencial? Como mudar a nossa mentalidade
      e a nossa atitude para viver de forma plena e fecunda? Neste artigo, vamos apresentar algumas orientações e exemplos
      de como você pode fazer isso, baseados no livro Sucesso Existencial, de André Silva, um renomado consultor,
      palestrante e escritor, que reúne teorias da Administração, Psicologia e Filosofia para ajudar as pessoas a viverem
      de forma plena e próspera.</p>

    <h3>
      Identifique os seus pré-conceitos, crenças e juízos de valor
      <mat-divider></mat-divider>
    </h3>

    <p>O primeiro passo para se libertar destes recursos mentais eivados de erros lógicos é identificá-los. Você precisa
      reconhecer quais são as ideias que você tem sobre si mesmo, sobre os outros e sobre o mundo, e que podem estar
      limitando o seu potencial e o seu sucesso. Para isso, você pode fazer algumas perguntas, tais como:</p>

    <p>- O que eu penso sobre mim mesmo? Quais são as minhas qualidades e as minhas limitações? Quais são os meus pontos
      fortes e os meus pontos fracos? Quais são os meus sonhos e os meus medos?</p>

    <p>- O que eu penso sobre os outros? Quais são as características que eu valorizo e as que eu tenho aversão nas
      pessoas? Quais são os grupos ou as pessoas que eu admiro ou que eu evito? Quais são os preconceitos que eu tenho em
      relação a raça, religião, etnia, gênero, orientação sexual, etc.?</p>

    <p>- O que eu penso sobre o mundo? Quais são as oportunidades e as ameaças que eu vejo no ambiente em que eu vivo?
      Quais são os problemas e as soluções que eu percebo na sociedade em que eu vivo? Quais são os valores e as normas
      que eu sigo ou que eu questiono?</p>

    <p>Ao fazer essas perguntas, você pode descobrir quais são os pré-conceitos, crenças e juízos de valor que estão
      presentes na sua mente, e que podem estar influenciando a sua forma de ver, de pensar, de sentir e de agir.</p>

    <h3>
      Questione os seus pré-conceitos, crenças e juízos de valor
      <mat-divider></mat-divider>
    </h3>

    <p>O segundo passo para se libertar dessas limitações que tanto nos induzem a erros é questioná-las. Você precisa
      analisar se essas ideias que você tem sobre si mesmo, sobre os outros e sobre o mundo são verdadeiras, úteis e
      positivas, ou se são falsas, inúteis e negativas. Para isso, você pode fazer algumas perguntas, como:</p>

    <p>- De onde vem esses pré-conceitos, crenças e juízos de valor? Eles são baseados em fatos verdadeiros ou em
      opiniões? Eles são frutos da minha experiência ou da influência de outras pessoas?</p>

    <p>- Quais são as evidências que sustentam ou que contradizem esses pré-conceitos? Eles são comprovados por dados
      fidedignos ou por emoções? Eles são consistentes ou contraditórios?</p>

    <p>- Quais são as consequências desses pré-conceitos? Eles me ajudam ou me atrapalham a alcançar os meus objetivos?
      Eles me trazem benefícios ou prejuízos?</p>

    <p>Ao fazer essas perguntas, você pode descobrir quais são os pensamentos que estão prejudicando o seu desenvolvimento
      pessoal e profissional, e que precisam ser mudados.</p>

    <h3>
      Transforme os seus pré-conceitos, crenças e juízos de valor
      <mat-divider></mat-divider>
    </h3>

    <p>O terceiro passo para se libertar destes pensamentos elencados e reprovados em sua análise é transformá-los. Você
      precisa substituir as ideias que você tem sobre si mesmo, sobre os outros e sobre o mundo, que são negativas e
      limitantes, por ideias que sejam positivas e potencializadoras. Para isso, você pode fazer algumas ações, como:</p>

    <p>- Busque conhecimento: procure se informar melhor sobre os assuntos que você identificou como pensamentos
      carregados de vícios lógicos. Leia livros edificantes, assista vídeos de fontes confiáveis, faça cursos com conteúdo
      elaborado, converse com pessoas mais velhas que tem uma história de vida admirável, procure observar atentamente os
      acontecimentos a sua volta, extraindo detalhes, de forma a treinar a sua mente a buscar mais profundidade, ou seja,
      amplie a sua visão de mundo e a sua compreensão da realidade.</p>

    <p>- Desafie-se: saia da sua zona de conforto e experimente coisas novas que possam contrariar os seus pré-conceitos,
      aprenda um novo idioma, viaje para um lugar diferente, conheça pessoas de outras culturas, etc. Exponha-se a novas
      situações e pessoas que possam enriquecer a sua experiência de vida.</p>

    <p>- Pratique a empatia: coloque-se no lugar dos outros e tente entender as suas perspectivas, sentimentos e
      motivações. Respeite as diferenças e valorize as opiniões contrárias. Seja gentil, solidário e cooperativo com as
      pessoas. Estabeleça relações positivas e saudáveis com os outros.</p>

    <p>Ao fazer essas ações, você pode transformar os seus pensamentos limitantes, e assim, abrir a sua mente e o seu
      coração para o sucesso existencial.</p>

    <h3>
      Conclusão
      <mat-divider></mat-divider>
    </h3>

    <p>Os pensamentos revestidos de erros lógicos são conceitos prévios que formamos sobre algo ou alguém, antes de ter um
      conhecimento real ou profundo sobre o assunto. Eles podem ser muito prejudiciais para o nosso desenvolvimento
      pessoal e profissional, pois podem nos impedir de alcançar o nosso sucesso existencial. O sucesso existencial é o
      tipo de sucesso que abrange todas as áreas da vida e que está alinhado com a nossa essência, os nossos valores, os
      nossos talentos e os nossos propósitos. É o tipo de sucesso que nos traz felicidade, realização e significado. É o
      tipo de sucesso que realmente vale a pena.</p>

    <p>Após essa trilha de aprendizado e reflexão, constatamos que é preciso mudar a nossa mentalidade e a nossa atitude
      para viver de forma plena e próspera. O livro Sucesso Existencial, de André Silva, é uma excelente fonte de
      inspiração e orientação para quem deseja viver de forma altiva e bem sucedida, em todas as áreas da vida. Você pode
      adquirir o livro no site <a href="https://sucessoexistencial.com/" target="_blank">[Sucesso Existencial]</a> </p>
  </mat-card-content>



</mat-card>
