:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sticky-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 3 !important;
}

.sticky-footer {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: 3 !important;
}

