<h2 mat-dialog-title>
  Gratidão, CHA e Plenitude: Tríade do Sucesso Existencial
</h2>
<mat-dialog-content class="mat-typography">
  <br />
  <h3>
    Introdução
    <mat-divider></mat-divider>
  </h3>

  <p>
    No caminho para o sucesso existencial, a tríade gratidão, (Competência,
    Habilidades e Atitudes) e plenitude se destacam basilares diante dos
    elementos a serem conquistados por cada um de nós. Neste artigo,
    exploraremos como integrar esses componentes na jornada diária pode conduzir
    a uma vida mais significativa, harmoniosa e repleta de conquistas materiais
    e espirituais.
  </p>

  <p>
    Sempre esclarecendo que uma vida equilibrada não significa ausente de
    problemas, doenças, perdas e reveses, mas revestida de sabedoria para
    altivar as emoções, focar nos objetivos maiores e buscar máxima afinidade
    com a sua espiritualidade, não deixando estacionar em sentimentos complexos
    que podem diminuir a sua capacidade de progredir.
  </p>

  <p>
    Outra consideração importante é que podemos sim nos entristecer diante dos
    sofrimentos, perdas e separações que ocorrem em nossas vidas, e isso não nos
    torna fracos, pelo contrário, sermos sensíveis diante da dor própria ou de
    outrem, é indicativo de que temos compaixão (ou autocompaixão) e empatia, o
    que se deve evitar, com todas as nossas forças e como dito anteriormente, é
    o afundamento em emoções negativas por período prolongado.
  </p>

  <p>
    Todas essas habilidades reunidas trazem recursos lógico-emocionais para
    transpor os obstáculos que surgem ao longo da vida com serenidade. E é esse
    o propósito desse artigo, essa viagem conceitual, esse mergulho guiado,
    ofertando ferramentas e reflexões para a mudança de postura mental e
    emocional diante dos acontecimentos cotidianos, ou seja, constituir um
    arcabouço de entendimentos acerca do crescimento espiritual, transcendente,
    rumo ao sucesso existencial.
  </p>

  <h3>
    A Profundidade da Gratidão na Vida Diária
    <mat-divider></mat-divider>
  </h3>

  <p>
    A gratidão não é apenas um gesto; é uma ferramenta poderosa para transformar
    a perspectiva. Ela é a filha primogênita da humildade, é o reconhecimento da
    nossa incapacidade de viver sozinhos, é conscientizar que não sabemos todas
    as coisas, e, portanto, dependentes da competência dos outros.
  </p>

  <p>
    É a convicção de que somos falíveis e o auxílio do próximo, o seu perdão
    diante das nossas falhas, são necessários ao nosso crescimento. Precisamos
    considerar que quando agradecemos, elevamos o nosso padrão mental,
    envolvemo-nos de pensamentos positivos, essenciais ao propósito que
    desejamos em nossa jornada rumo à plenitude, ao bem estar e ao sucesso
    existencial.
  </p>

  <p>
    Ser grato a educação e o amor que recebemos de nossos pais, a saúde, a
    segurança ao qual chegamos em casa, ao alimento que temos à mesa, a
    dedicação desprendida pelo atendente no comércio local, ao acalento de nosso
    lar, enfim, são inúmeras as oportunidades de agradecer, aliás, a maioria de
    nós, tem muito mais motivos para agradecer do que para reclamar diante da
    vida.
  </p>

  <h3>
    CHA: A Base do Crescimento Pessoal
    <mat-divider></mat-divider>
  </h3>

  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <img class="config-img" src="./assets/img/artigos/gratidao/image1.png" />
    Competência, Habilidades e Atitudes formam a base do desenvolvimento
    pessoal, contribuindo não apenas para o sucesso profissional, mas
    especialmente para o sucesso existencial.
  </div>

  <p>• Competência</p>

  <p>
    É o próprio conhecimento e está relacionado ao saber acumulado pelo
    indivíduo durante toda a sua vida. Conhecimento é o saber, é o domínio
    teórico que a pessoa tem sobre determinado tema ou assunto, incluindo as
    informações reconhecidas e integradas ao longo da vida, que repercutem sobre
    seu julgamento ou comportamento.
  </p>

  <p>• Habilidade</p>

  <p>
    A habilidade refere-se à aplicação produtiva desse conhecimento; é saber
    fazer, ou seja, está relacionada à capacidade do indivíduo de instaurar
    conhecimentos e utilizá-los em uma ação, produzindo resultados.
  </p>

  <p>• Atitude</p>

  <p>
    A atitude refere-se a aspectos sociais e afetivos envolvidos com as
    responsabilidades assumidas ou necessárias. Diz respeito ao interesse da
    pessoa, à sua determinação em querer fazer. Este conceito está envolvido com
    o sentimento ou predisposição da pessoa, que direciona sua conduta com
    relação aos outros, ao trabalho, coisas e eventos, determinando a direção a
    ser seguida, exitosa ou não.
  </p>

  <p>
    Em nossa carreira, podemos perceber o quanto é importante o estudo acadêmico
    como estrutura conceitual para aplicar no emprego, saber fazer as leituras
    de cenário adequadas, entender as forças culturais daquela empresa, as
    pessoas chaves e o motivo pelo qual são respeitadas, e após o
    desenvolvimento destas e outras habilidades, cirurgicamente aplicar os seus
    conhecimentos adquiridos de forma mais qualificada, de forma a projetar a
    sua carreira, mas sem olvidar das pequenas tarefas diárias que são
    negligenciadas por muitos trabalhadores, vá lá e faça.
  </p>

  <p>
    Seja reconhecido pela alta capacidade, mas também pela disciplina de fazer o
    que tem que ser feito, mesmo que ninguém esteja vendo.
  </p>

  <p>
    Essa é uma sintetização do ambiente do trabalho, mas já notamos que esse CHA
    é imprescindível para aquecer as nossas perspectivas rumo ao sucesso
    profissional.
  </p>

  <h3>
    Plenitude como Jornada, Não Destino
    <mat-divider></mat-divider>
  </h3>

  <p>
    Compreender que a plenitude é uma jornada, incessante e desafiadora, é
    vital. Plenitude vai além das realizações externas. Estar revestido de si,
    sóbrio diante da complexidade territorial, logicando e sentindo, planejando
    e executando, agradecendo e auxiliando aos que nos acionam, confiantes e
    atentos, são estados inerentes à plenitude. Assim, dotados de conhecimento,
    autoconhecimento e virtudes estaremos aptos a regozijar neste ápice das
    conquistas em comunhão com a paz interior e o sentimento de completude
    mediante as pequenas coisas do cotidiano.
  </p>

  <h3>A Interligação Dinâmica entre Gratidão, CHA e Plenitude</h3>

  <p>
    Esses elementos não existem isoladamente. Na prática, observa-se como a
    gratidão pode aprimorar o CHA e contribuir para a conquista da plenitude,
    senão, vejamos:
  </p>

  <p>
    A gratidão permite alcançar estados de resignação, direcionando os
    sentimentos para uma esfera mais confortável, leve, abrindo francas
    condições de tomar decisões complexas mais acertadas, voltadas para o
    atingimento dos objetivos mais elevados da vida, rumo à plenitude.
  </p>

  <h3>Histórias Inspiradoras de Sucesso Existencial</h3>

  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <img class="img" src="./assets/img/artigos/gratidao/image2.png" />
    <p>
      Para exemplificar uma pessoa que atingiu este píncaro do sucesso
      existencial, trilhando um caminho de paixão, força e coragem (título de
      sua biografia), sempre se apoiando em sua família e pautado nos valores
      éticos e morais, temos o personagem de uma das trajetórias empresariais
      mais impressionantes do país, Clóvis Tramontina, sendo que em 2020, sob a
      sua presidência, a Tramontina, faturou R$ 8,3 bilhões, um crescimento de
      39% em relação a 2019, tornando uma das empresas brasileiras mais
      globalizadas, com seus produtos distribuídos em mais de 120 países.
      <br />
      Segundo Clovis, as três coisas mais importantes para a Tramontina ter
      conseguido chegar a 110 anos foram a persistência para não desviar o foco
      diante das adversidades, a aposta desde o início em uma marca única e a
      valorização das pessoas.
      <br />
      "Para mim, o mais importante de tudo são as pessoas. São elas que sempre
      fizeram a diferença na Tramontina", diz Clovis. A empresa tem hoje 9 mil
      funcionários —20% têm mais de 20 anos de casa e 1.300 foram admitidos
      desde o início da pandemia.

      <br />
      Aos 68 anos, Clóvis Tramontina aposentou-se, mediante sucessão filial e
      dedica-se a projetos pessoais sem olvidar da caridade. Um exemplo vivo de
      plenitude, homem de bem e sucesso existencial.
    </p>
  </div>

  <h3>
    Desafios na Jornada para a Plenitude
    <mat-divider></mat-divider>
  </h3>

  <p>
    O caminho para a plenitude não está isento de desafios, mas pode se
    transformar em uma aventura recompensadora. Ao aceitar os obstáculos com
    sabedoria, estabelecer conexões internas (autoconhecimento), abraçar a
    gratidão e firmar em um propósito altivo, construímos alicerces sólidos para
    uma vida plena.
  </p>

  <p>
    Apesar do caminho para a plenitude ser uma jornada única e pessoal, ao
    enfrentar cada desafio com determinação, construímos uma personalidade de
    autodescoberta e crescimento contínuo.
  </p>

  <p>
    Trace as metas em tamanhos desafiadores, mas que sejam alcançáveis para que
    sempre esteja impulsionado ao objetivo, sem perder a capacidade de sentir o
    presente e se importar com os que o circundam, e assim, descobrir a riqueza
    que o caminho para a plenitude pode proporcionar.
  </p>

  <p>Aprimorando CHA para Alcançar Equilíbrio</p>

  <p>
    CHA é essencial para equilibrar diferentes áreas da vida. Essa relação gera
    valor social e econômico tanto para o indivíduo como para o meio que o
    cerca, uma vez que reverbera em resultados extraordinários quando aplicados
    de forma fluída e qualificada, beneficiando o ambiente ao qual situa este
    ser competente e virtuoso.
  </p>

  <h3>Ampliando a Experiência: O Papel da Caridade</h3>

  <p>
    Reconhecendo a importância de ajudar os outros, desenvolvemos uma apreciação
    mais profunda por nossa própria jornada, fortalecendo a nossa autoestima e
    retribuindo ao mundo as oportunidades que nos foram concedidas.
  </p>

  <p>
    O envolvimento em atividades de caridade aprimora nossas habilidades
    sociais. A interação com uma variedade de pessoas, muitas vezes em situações
    desafiadoras, fortalece nossa capacidade de comunicação, resolução de
    conflitos e construção de relacionamentos saudáveis.
  </p>

  <p>
    Que a caridade seja não apenas uma ação, mas um estilo de vida,
    conduzindo-nos a uma evolução contínua e significativa.
  </p>

  <h3>Conclusão</h3>

  <p>
    Ao abraçar a tríade gratidão, CHA e plenitude, cada indivíduo está trilhando
    um caminho enriquecedor em direção ao sucesso existencial. Esse conceito que
    se sustenta na expressão máxima do sucesso do homem virtuoso, em que
    conquistas materiais e morais se fundem em um único ser, transformando a sua
    realidade e contribuindo para um mundo melhor e mais caritativo, possa ser o
    seu combustível diário para buscar patamares mais sublimes diante da
    condição atual. Que após essa jornada provocativa e audaciosa, a sua vida
    seja repleta de aprendizados, crescimento e uma profunda sensação de
    plenitude.
  </p>

  <h3>xxxxx</h3>

  <h3>FAQs (Perguntas Frequentes)</h3>

  <ol class="custom-list">
    <li>
      **Como posso praticar a gratidão diariamente?
      <ul>
        <li>
          Comece agradecendo por pequenas coisas. Um diário de gratidão pode ser
          uma ferramenta valiosa.
        </li>
      </ul>
    </li>
    <li>
      **Qual é a importância do CHA para o sucesso existencial?
      <ul>
        <li>
          O CHA contribui não apenas para o sucesso profissional, mas também
          para uma vida exitosa e plena.
        </li>
      </ul>
    </li>
    <li>
      **Como encontrar satisfação na jornada para a plenitude?
      <ul>
        <li>
          Focar no presente e encontrar valor em cada passo do caminho é crucial
          para a plenitude.
        </li>
      </ul>
    </li>
    <li>
      **Por que é vital celebrar conquistas pessoais?
      <ul>
        <li>
          A celebração reforça um senso de realização e motivação para continuar
          buscando a plenitude.
        </li>
      </ul>
    </li>
    <li>
      **Como construir um mundo melhor por meio do sucesso existencial?
      <ul>
        <li>
          Busque o autoconhecimento, seja grato, busque conquistas tanto no
          campo moral quanto material, tenha relações afetivas autênticas,
          cresça, enxergue a necessidade do próximo, doe.
        </li>
      </ul>
    </li>
  </ol>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" mat-dialog-close>Fechar</button>
</mat-dialog-actions>
