<mat-card  fxLayout="column" fxLayoutAlign="start stretch">
  <mat-card-header>
    <mat-card-title>A Filosofia como Base do Conhecimento e Ordenadora do Pensamento</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

    <br>
    <h3>
      Introdução
      <mat-divider></mat-divider>
    </h3>

    <p>A Filosofia, muitas vezes considerada a mãe de todas as disciplinas, desempenha um papel crucial na construção do
      conhecimento e na organização do pensamento humano. Neste artigo, exploraremos como a Filosofia serve de base sólida
      para o entendimento do mundo e atua como ordenadora fundamental do pensamento, moldando as estruturas conceituais
      que sustentam nossa compreensão da existência. </p>

    <h3>
      A Fundação da Filosofia como Disciplina Fundamental
      <mat-divider></mat-divider>
    </h3>

    <p>A Filosofia, etimologicamente derivada do grego "amor à sabedoria", busca compreender os princípios fundamentais da
      existência, da realidade, do transcendente e da moralidade. Desde os filósofos pré-socráticos até os pensadores
      contemporâneos, a Filosofia tem sido a força motriz por trás dos grandes paradigmas e conquistas que permearam e
      permeiam a mente humana. </p>

    <h3>
      Explorando as Origens Filosóficas
      <mat-divider></mat-divider>
    </h3>

    <p>Desde os primeiros filósofos que questionaram a natureza do cosmos até as reflexões existenciais dos pensadores
      modernos, a Filosofia proporciona um terreno fértil para a investigação profunda e crítica. </p>

    <p>Nesta esteira de entendimento, temos que através da Filosofia, somos desafiados a questionar nossas crenças e
      suposições, a examinar os fundamentos de nossos valores e a considerar diferentes perspectivas sobre o mundo. Ela
      nos incentiva a buscar o conhecimento e compreensões mais profundas, e nos capacita a fazer perguntas difíceis e a
      pensar criticamente sobre as respostas obtidas.</p>

    <p>Portanto, a Filosofia nos auxilia no processo de autoconhecimento, análise lógica e argumentação persuasiva diante
      da problemática cotidiana, especialmente ensinando-nos a avaliar evidências, a reconhecer falácias e a formar nossas
      próprias opiniões fundamentadas. Essas habilidades são valiosas não apenas como cultura, mas também em muitos outros
      campos da vida, como busca da nossa espiritualidade, família, carreira, política, ciência e comunicação.</p>

    <h3>
      O Pensamento Socrático
      <mat-divider></mat-divider>
    </h3>

    <p>Sócrates (470-399 a.C.) é o grande marco da filosofia ocidental. Apesar de não ser o pioneiro, ele é reconhecido
      como o "pai da filosofia". Isso devido à sua incessante busca pelo conhecimento e ao desenvolvimento de um método
      para essa busca: o método socrático, valendo-se da ironia e maiêutica.</p>

    <p>A dialética socrática tinha como objetivo questionar as crenças arraigadas (pré-concebidas) de seu interlocutor, a
      fim de, posteriormente, reconhecer sua própria ignorância e buscar um conhecimento genuíno.</p>

    <div fxLayout="column" fxLayoutAlign="start start">
      <img src="./assets/img/artigos/filosofia-base/image1.png">
      <small>Jacques-Louis David,&nbsp;A Morte de Sócrates,&nbsp;retrata o momento após o julgamento em que o filósofo
        recebe o
        cálice com cicuta</small>
    </div>


    <h3>
      A Filosofia como Base do Conhecimento
      <mat-divider></mat-divider>
    </h3>

    <p>A busca pelo conhecimento é inerentemente filosófica. A Filosofia fornece elementos estruturantes do saber que
      perpassam por todas as outras disciplinas, desde as ciências naturais até as ciências sociais. </p>

    <p>Entendendo que a sabedoria difere-se do conhecimento, uma vez que a primeira é dotada de valores, exige a
      aplicabilidade dos crivos da moral e ética. O conhecimento é quantidade de informação armazenada de forma analítica
      e compreendida. Mesmo quando se fala em experiência de vida, não se pode atribuir necessariamente o conceito de
      sabedoria, pois um indivíduo pode passar pela vida sem "aprender" sistematicamente com os seus erros e nem com o dos
      outros, não cabendo atribuir-lhe este adjetivo.</p>

    <h3>
      Interseção entre Filosofia e Ciência
      <mat-divider></mat-divider>
    </h3>

    <p>A Filosofia da ciência, por exemplo, questiona as bases epistemológicas e ontológicas do conhecimento científico.
      Ela desempenha um papel fundamental na avaliação crítica das teorias e na definição dos limites e alcances do método
      científico. </p>

    <h3>
      Filosofia e Ética nas Profissões
      <mat-divider></mat-divider>
    </h3>

    <p>Além disso, a ética, um ramo crucial da Filosofia, permeia todas as profissões. A reflexão filosófica sobre o que é
      moralmente correto e justo é essencial para guiar a conduta profissional e pessoal. </p>

    <h3>
      A Filosofia como Ordenadora do Pensamento
      <mat-divider></mat-divider>
    </h3>

    <p>Além de ser a base do conhecimento, a Filosofia desempenha um papel vital na organização do pensamento individual e
      coletivo. Diversas teorias da Filosofia nos ensinam como estruturar a razão em prol obter melhores resultados e
      percepções do mundo e das pessoas, dando-nos elementos práticos, mas não absolutos, para o nosso crescimento pessoal
      e profissional. </p>

    <div>
      <img src="./assets/img/artigos/filosofia-base/image2.png">
      A Organização de Ideias Complexas
    </div>
    <p>
      A Filosofia também atua como uma ferramenta para organizar ideias complexas. Ela
      fornece estruturas conceituais que permitem a articulação clara de pensamentos, facilitando a comunicação eficaz e a
      compreensão mútua.
    </p>


    <h3>
      A Relevância Contínua da Filosofia na Atualidade
      <mat-divider></mat-divider>
    </h3>

    <p>Em um mundo cada vez mais complexo, a Filosofia mantém sua relevância, fornecendo um guia intelectual e moral para
      navegar nas questões emergentes, disponibilizando ainda ferramentas intelectuais seguras para avançar na fluidez da
      nossa realidade em constante mudança.</p>

    <h3>
      Desafios Éticos na Era Tecnológica
      <mat-divider></mat-divider>
    </h3>

    <p>Na era da inteligência artificial e da biotecnologia, a Filosofia ética desempenha um papel crucial na orientação
      sobre questões éticas complexas. Questões como privacidade, justiça social e o uso ético da tecnologia são
      profundamente enraizadas na reflexão filosófica. </p>

    <h3>
      Construção de Sociedades mais Justas e Inclusivas
      <mat-divider></mat-divider>
    </h3>

    <p>Além disso, a Filosofia política continua a influenciar a construção de sociedades mais justas e inclusivas. A
      discussão filosófica sobre direitos individuais, governança e distribuição de recursos molda os fundamentos de
      sistemas políticos em todo o mundo. </p>

    <h3>
      Conclusão: A Filosofia como Farol do Conhecimento e do Pensamento
      <mat-divider></mat-divider>
    </h3>

    <p>Em suma, a Filosofia não apenas fornece a base do conhecimento, mas também atua como a ordenadora essencial do
      pensamento humano, a explorar o desconhecido, a questionar o estabelecido e a buscar a verdade. Em outros termos,
      ela nos desafia a pensar de forma crítica e criativa, a desenvolver um senso de curiosidade intelectual e a buscar a
      sabedoria em todas as áreas da vida, proporcionando o alcance do sucesso existencial.</p>


    <div>
      <img src="./assets/img/artigos/filosofia-base/image3.png">
      Ao reconhecer e abraçar o papel central da Filosofia, podemos enriquecer nossa compreensão do mundo e aprimorar
      esplendidamente a nossa capacidade de pensar criticamente.
      <br>
      Isto posto, concluímos que desde as origens da reflexão filosófica até os desafios contemporâneos, a Filosofia
      permanece como o farol que ilumina as mentes emprendedoras e guia a busca incessante pela sabedoria.
    </div>



    <h3>
      FAQs
      <mat-divider></mat-divider>
    </h3>

    <ol class="custom-list">
      <li>
        <p>Qual é a diferença entre Filosofia e conhecimento científico?</p>
        <ul>
          <li>
            <p>A Filosofia busca compreender os princípios fundamentais da existência, enquanto o conhecimento
              científico se
              concentra em investigações empíricas específicas. </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Como a ética filosófica influencia as decisões profissionais? </p>
        <ul>
          <li>
            <p>A ética filosófica proporciona um arcabouço moral para orientar a conduta profissional, incentivando a
              tomada de
              decisões éticas. </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Por que a Filosofia continua relevante na era da tecnologia? </p>
        <ul>
          <li>
            <p>A Filosofia é essencial para enfrentar questões éticas complexas e para orientar o uso ético da
              tecnologia na
              sociedade. </p>
          </li>
        </ul>
      </li>
      <li>
        <p>Como a Filosofia contribui para a construção de sociedades justas? </p>
        <ul>
          <li>
            <p>A Filosofia política influencia a discussão sobre direitos individuais, governança e distribuição de
              recursos,
              fundamentais para construir sociedades justas. </p>
          </li>
        </ul>
      </li>
      <li>
        <p>A Filosofia é acessível a todos, independentemente de formação acadêmica? </p>
        <ul>
          <li>
            <p>Sim, a Filosofia é uma disciplina acessível a todos, incentivando a reflexão crítica e a busca por respostas
              fundamentais sobre a existência humana.</p>
          </li>
        </ul>
      </li>
    </ol>
  </mat-card-content>
</mat-card>
