<div class="config-bg-home"></div>
<div class="bg-text">
  <h1 class="title-1">Nós temos a solução para o seu negócio</h1>
  <h1 class="title-2">Conheça nossa metodologia de impacto</h1>
</div>

<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch" fxLayoutGap="15px">


  <mat-card class="card-custom" fxFlex="20" fxFlex.xs="100"  fxLayout="column" fxLayoutAlign="center center" >
    <img mat-card-md-image  src="./assets/img/capacitacao_equipe.png">
    <mat-card-content>
      <p class="text-center">
        Abordamos a potencialização dos resultados da área comercial, como aumento da retenção e lucratividade dos clientes, e da conversão de vendas para prospects.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-custom" fxFlex="20"  fxFlex.xs="100"  fxLayout="column" fxLayoutAlign="center center" >
    <img mat-card-md-image src="./assets/img/WORKSHOP_IN_COMPANY.png">
    <mat-card-content>
      <p class="text-center">
        Gestão Estratégica de Projetos permitirá que você entenda planejamento estratégico e execução por meio de um PPM (Portfolio Project Management).
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-custom" fxFlex="20" fxFlex.xs="100"   fxLayout="column" fxLayoutAlign="center center" >
    <img mat-card-md-image  src="./assets/img/METODOLOGIA_EXCLUSIVA_INOVADORA.png">
    <mat-card-content>
      <p class="text-center">
        Abordamos maneiras de desenvolver e implementar estratégias vencedoras que maximizam o crescimento, o lucro e o êxito da sua empresa a longo prazo.
      </p>
    </mat-card-content>
  </mat-card>

</div>
<div class="content" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="50"  fxFlex.xs="100">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <H1>QUEM SOMOS</H1>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="padding-top-10" fxLayout="column" fxLayoutAlign="center center">
      <p class="text-center">
        A Adsumus Mentoria Empresarial de Impacto se destaca por sua excelência e compromisso com o sucesso de seus clientes.
        Com uma equipe multidisciplinar e experiente, sediada em Brasília, a empresa oferece soluções de mentoria empresarial baseadas na Metodologia de Ascensão Cúbica, que são customizadas para atender às necessidades específicas de cada organização.
      </p>
    </mat-card-content>
  </mat-card>

</div>
