<div class="config-bg-home"></div>
<div class="bg-text">
  <h1 class="title-1">Nós temos a solução para o desenvolvimento</h1>
  <h1 class="title-2">da sua equipe</h1>
</div>

<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch" fxLayoutGap="15px">


  <mat-card class="card-custom" fxFlex="20" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center">
    <img mat-card-md-image src="./assets/img/capacitacao_equipe.png">
    <mat-card-content>
      <p class="text-center">
        Oferecemos soluções de mentoria empresarial baseadas na Metodologia de Ascensão Cúbica, que são customizadas
        para atender às necessidades específicas de cada equipe e desenvolver habilidades que promovam rápidos
        resultados.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-custom" fxFlex="20" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center">
    <img mat-card-md-image src="./assets/img/WORKSHOP_IN_COMPANY.png">
    <mat-card-content>
      <p class="text-center">
        Abordagem disruptiva, objetivando o alcance de resultados excepcionais quanto a performance do time de
        profissionais. Conteúdo robusto, prático e utilização de técnicas voltadas para a participação ativa do time
        organizacional
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-custom" fxFlex="20" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center">
    <img mat-card-md-image src="./assets/img/METODOLOGIA_EXCLUSIVA_INOVADORA.png">
    <mat-card-content>
      <p class="text-center">
        Palestras voltadas para a ressignificação de conceitos, especialmente quanto a eliminação de crenças limitantes
        e mentalidade diminuta e egocentrista. Valorização dos conceitos de carreira, família e conexão com o sagrado.
      </p>
    </mat-card-content>
  </mat-card>

</div>
<div class="content" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="50" fxFlex.xs="100">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <H1>QUEM SOMOS</H1>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="padding-top-10" fxLayout="column" fxLayoutAlign="center center">
      <p class="text-center">
        Com uma abordagem focada no realinhamento dos saberes e no desenvolvimento de habilidades, a Adsumus possui
        profissionais experientes para capacitar equipes a alcançarem os objetivos organizacionais de forma eficaz e
        sustentável, elevando os níveis de desempenho e de ambição sob a égide da ética
      </p>
    </mat-card-content>
  </mat-card>

</div>
