
.padding-top-10 {
  padding-top: 10px;
}

.format {
  color: black;
  font-size: 20px;
  .aspas {
    font-weight: bold;
    color: #3d93cb;
    font-size: 20px;
  }
}

.card-custom {
  transition: all .4s;
  &:hover {
    transform: scale(1.03);
  }
}

