<div class="config-bg"></div>
<div class="bg-text">
  <h1 class="title-1">Nós temos a solução para o seu negócio</h1>
  <h1 class="title-2">Conheça nossa metodologia de impacto</h1>
</div>

<div class="content" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="15px">


  <mat-card fxFlex="20"  fxLayout="column" fxLayoutAlign="center center" >
    <img mat-card-md-image  src="./assets/img/capacitacao_equipe.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Abordamos a potencialização dos resultados da área comercial, como aumento da retenção e lucratividade dos clientes, e da conversão de vendas para prospects.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="20"  fxLayout="column" fxLayoutAlign="center center" >
    <img mat-card-md-image src="./assets/img/WORKSHOP_IN_COMPANY.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Gestão Estratégica de Projetos permitirá que você entenda planejamento estratégico e execução por meio de um PPM (Portfolio Project Management).
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="20"  fxLayout="column" fxLayoutAlign="center center" >
    <img mat-card-md-image  src="./assets/img/METODOLOGIA_EXCLUSIVA_INOVADORA.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Abordamos maneiras de desenvolver e implementar estratégias vencedoras que maximizam o crescimento, o lucro e o êxito da sua empresa a longo prazo.
      </p>
    </mat-card-content>
  </mat-card>
</div>
