<footer class="mat-elevation-z4-upside-down">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">

    <button mat-icon-button aria-label="Perfil no facebook">
      <i class="fa fa-facebook"></i>
    </button>

    <button mat-icon-button aria-label="Perfil no facebook">
      <i class="fa fa-instagram"></i>
    </button>

    <button mat-icon-button aria-label="Perfil no facebook">
      <i class="fa fa-twitter"></i>
    </button>

    <button mat-icon-button aria-label="Perfil no facebook">
      <i class="fa fa-linkedin"></i>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <p><small> © Copyright Todos os Direitos Reservados.</small></p>
  </div>


</footer>
