<div class="config-bg-sobre"></div>
<div class="bg-text-sobre">
  <h1 class="to-right">Nós temos a solução para o</h1>
  <h1 class="to-left title-sobre-2 ">seu negócio</h1>
</div>

<div class="content" fxLayout="row" fxLayoutAlign="center center" ngLazy>
  <mat-card class="mat-elevation-z4" fxFlex="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center">
    <img mat-card-md-image src="./assets/img/WORKSHOP_IN_COMPANY.png" alt="imagem workshop" loading="lazy">
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="center center" class="tex-center">
        <h2 class="title-card-sobre">TIME MULTIDISCIPLINAR, EXPERIENTE E QUALIFICADO</h2>
      </div>
      <div fxFlex>
        <p class="text-center">
          Os profissionais da Adsumus possuem formações acadêmicas sólidas e vasta experiência na condução de equipes e
          gestão empresarial, o que lhes confere uma capacidade única de promover transformações significativas nas
          equipes das empresas atendidas.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div flex fxLayout="row" fxLayoutAlign="center center">
  <h2>
    Quem Somos
  </h2>
</div>
<mat-divider></mat-divider>

<div class="content" fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayoutGap="15px">

  <mat-card class="mat-elevation-z4" fxFlex="33" fxFlex.xs="100">
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <img class="img-config mat-elevation-z2" src="./assets/img/quem_somos/quem_somos_1.jpg">
      <div class="config-padding-top" fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="column"
        fxLayoutAlign.sm="start center">
        <p class="p-justify">
          Empresário, Administrador da Secretaria de Estado de Saúde – SES/DF,
          Diretor Financeiro do Instituto Agrovida Goiás,
          autor dos livros Sucesso Existencial,
          Bússola do Propósito de Evolução e Tutorial Definitivo do Primeiro Emprego,
          Consultor Organizacional da Adsumus, atuou como Consultor de Negócios do SEBRAE/DF,
          como Analista de Planejamento e Orçamento no Serviço Nacional de Aprendizagem do Cooperativismo - SESCOOP,
          foi Professor de Administração da UNOPAR, Axiomas Brasil e Virtuosa Cursos,
          exerceu o cargo de Administrador e Pregoeiro Oficial do Conselho Regional de Fisioterapia e Terapia
          Ocupacional da 11ª Região – CREFITO 11,
          graduado em Administração pela Universidade Católica de Brasília,
          Especialista em Administração de Empresas pela Fundação Getúlio Vargas - FGV e Especialista em Gestão da
          Clínica pelo Instituto do Hospital Sírio Libanês.
        </p>

      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z4" fxFlex="30" fxFlex.xs="100">
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <img class="img-config mat-elevation-z2" src="./assets/img/quem_somos/quem_somos_2.jpg">
      <div class="config-padding-top" fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="column"
        fxLayoutAlign.sm="start center">

        <p class="p-justify">
          Professora da Secretaria de Educação do DF,
          Consultora Educacional da ADSUMUS Mentoria Empresarial,
          é Terapeuta com abordagem em Filosofia Clínica e Terapia Cognitivo Comportamental Clássica – TCC,
          foi Empresária,
          Educadora e Coordenadora Pedagógica do Instituto de Ensino Leonardo da Vinci,
          Gestora e Executora de Projetos de Ética e Cidadania para a Escola e Empresa,
          no Instituto Leonardo da Vinci, atuou como Conselheira Tutelar Suplente na Região Administrativa de Samambaia,
          realizando diversas palestras para à comunidade acerca do papel do Conselho Tutelar e sua importância na
          conscientização e efetividade dos Direitos Sociais da Família e das Crianças,
          Pesquisadora em iniciação científica da Universidade Católica na área de História Oral e organização social
          das Instituições de Ensino Católicas em Brasília; graduada em Filosofia pela Universidade Católica de
          Brasília-UCB e Especialista em Filosofia Clássica pela Universidade de Brasília – UNB;
          Pedagoga especialista em Alfabetização e História da Educação – UCB, Terapia com abordagem em Filosofia
          Clínica pela Faculdade Católica de Anápolis e Terapia Cognitivo Comportamental Clássica - TCC pelo Instituto
          Packter.
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z4" fxFlex="30" fxFlex.xs="100">
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <img class="img-config mat-elevation-z2" src="./assets/img/quem_somos/quem_somos_3.jpg">
      <div class="config-padding-top" fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="column"
        fxLayoutAlign.sm="start center">
        <p class="p-justify">
          Especialista em Saúde na Secretaria de Estado de Saúde – SES/DF;
          Docente da graduação em saúde do Centro Universitário Leonardo Da Vinci (UNIASSELVI);
          exerceu o cargo de Secretária Municipal de Saúde de Águas Lindas de Goiás;
          foi Tutora no Curso Nacional de Qualificação de Gestores do SUS e no Curso de Atenção à Saúde do Trabalhador
          em duas edições;
          Professora presencial das Universidade Católica de Brasília- UCB e Faculdade Anhanguera Brasília - FAB;
          Vasta experiência em gestão ocupando diversos cargos comissionados de gestão na SES/DF,
          especialmente como Coordenadora de Nutrição na Atenção Básica - GNUT/SES;
          graduada em Nutrição pela Universidade de Brasília,
          com especialização em Docência do Ensino Superior (Universidade Cândido Mendes),
          Saúde Coletiva (Faculdade de Ciências da Saúde – FEPECS) e Gestão em Estratégia Saúde da Família (FIOCRUZ)
        </p>

      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z4" fxFlex="30" fxFlex.xs="100">
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <img class="img-config mat-elevation-z2" src="./assets/img/quem_somos/quem_somos_4.jpg">
      <div class="config-padding-top" fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="column"
        fxLayoutAlign.sm="start center">
        <p class="p-justify">
          Empresário, Advogado, Servidor Público da Secretaria de Estado de Saúde – SES/DF e Diretor de Negócios
          Estratégicos na Adsumus Mentoria Empresarial, coautor dos livros Sucesso Existencial, Bússola do Propósito de
          Evolução e Tutorial Definitivo do Primeiro Emprego, ocupou vários cargos de alta gestão na SES/DF, tais como
          Diretor Administrativo da Superintendência da Região de Saúde Sudoeste, Chefe da Assessoria de Carreiras e
          Legislação – ACL, Subsecretário da Subsecretaria de Gestão de Pessoas – SUGEP, foi professor da Secretaria de
          Educação/DF, atuou como Supervisor de Vendas nas empresas do Grupo Abílio Diniz, Skol e Coca-Cola, com
          destaque em atingimento de metas e foi residente por 03 anos em Nova York/USA. Graduado em Letras pela
          Universidade Evangélica de Anápolis/Goiás e em Direito pela Unieuro/DF, especialização em Docência do Ensino
          Superior e Direito Público pela Processus/DF.
        </p>

      </div>
    </mat-card-content>
  </mat-card>

</div>
