<div
  class="content"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  fxLayoutGap="15px"
>
  <mat-card
    class="config-custom-card"
    matRipple
    matRippleColor="#12559b3d"
    *ngFor="let sub of listaSubMenu" (click)="sub.path()">
    <mat-card-content class="content-card"  fxLayout="row" fxLayoutAlign="center center">
      <div>{{sub.label}}</div>
    </mat-card-content>
  </mat-card>
</div>
<div class="config-artigos"  fxLayout="column" fxLayoutAlign="start stretch">
  <router-outlet></router-outlet>
</div>
