<div
  class="content"
  fxLayout="row wrap"
  fxLayoutAlign="center start"
  fxLayoutGap="15px"
>
  <mat-card
    fxFlex="33"
    class="config-custom-card"
    *ngFor="let sub of listaSubMenu">
    <mat-card-header>
      <mat-card-title>{{sub.label}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="sub.imgPath" [alt]="sub.descricao">
    <mat-card-content class="content-card">
      {{sub.descricao}}
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="accent" (click)="sub.path()">LEIA +</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="config-artigos"  fxLayout="column" fxLayoutAlign="start stretch">
  <router-outlet></router-outlet>
</div>
