<div class="content" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="50"  fxFlex.xs="100">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <h1 class="text-center">O QUÊ NOS HABILITA A PROPÔR SOLUÇÕES POR MEIO DE MENTORIA EMPRESARIAL?</h1>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="padding-top-10" fxLayout="column" fxLayoutAlign="center center">
      <p>
        A ADSUMUS Mentoria Empresarial possui vasta experiência na elaboração e consultoria de execução de projetos complexos, inclusive conduzindo reuniões Kick Off, Sprint Planning e Sprint Review, empregando tanto a metodologia de gerenciamento de projetos PMBOK quanto SCRUM, adequando as soluções propostas à realidade da empresa cliente.
      </p>
      <p>
        Esta atuação faz parte da história da ADSUMUS e nos habilitou para reposicionarmos mercadologicamente e propôr hoje serviços altamente exclusivos de Mentoria Empresarial, adotando metodologia inédita e de impacto, visando o aperfeiçoamento das equipes e trazendo resultados de alta performance.
      </p>
      <p>
        Equipe multiprossional da ADSUMUS foi forjada em muitos anos ocupando cargos de gestão, liderando equipes, planejando e executando projetos complexos, melhorando processos de trabalho e ampliando os resultados organizacionais.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="content" fxLayout="row" fxLayoutAlign="center center">
  <h2>Conheça alguns de nossos projetos :</h2>
</div>

<div class="content" fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayoutGap="15px">
  <mat-card class="m-t-10" fxFlex="20" fxFlex.xs="40">
    <img mat-card-image src="./assets/img/projetos/instituto_agrovida.jpg" loading="lazy">
  </mat-card>

  <mat-card class="m-t-10" fxFlex="20" fxFlex.xs="40">
    <img mat-card-image src="./assets/img/projetos/agrobusiness_show.jpg" loading="lazy">
  </mat-card>
  <mat-card class="m-t-10" fxFlex="20" fxFlex.xs="40">
    <img mat-card-image src="./assets/img/projetos/projeto_implatacao_eco.jpg" loading="lazy">
  </mat-card>
  <mat-card class="m-t-10" fxFlex="20" fxFlex.xs="40">
    <img mat-card-image src="./assets/img/projetos/orizona.jpg" loading="lazy">
  </mat-card>

  <mat-card class="m-t-10" fxFlex="20" fxFlex.xs="40">
    <img mat-card-image src="./assets/img/projetos/projeto_implantacao_modelo.png" loading="lazy">
  </mat-card>
</div>

<div class="content" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="50"  fxFlex.xs="100">
    <mat-card-content>
      <p>
        Vasta experiência na elaboração e consultoria na execução de projetos complexos , conduzindo reuniões Kick Off, Sprint Planning e Sprint Review, empregando tanto a metodologia de gerenciamento de projetos PMBOK quanto SCRUM, adequando à realidade e necessidade da empresa cliente.
      </p>
      <p>
        O projeto teve como objetivo principal estimular práticas sustentáveis nas empresas da Região Metropolitana de Goiânia. Buscou conscientizar as empresas sobre a importância de reduzir seu impacto ambiental e promover a responsabilidade socioambiental, com metodologia robusta que se inicia com a adesão voluntária da empresa, diagnóstico ambiental, plano de intervenção, implantação das melhorias e aplicabilidade do selo ecológico, em cerimônia específica e com a presença de autoridades e da mídia.
      </p>
    </mat-card-content>
  </mat-card>
</div>
