<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutAlign.sm="start center"
  fxLayoutGap="15px">

  <mat-card fxFlex="30" fxFlex.xs="99">
    <img mat-card-image class="height-img mat-elevation-z3" src="./assets/img/livros/sucesso_existencial.png" loading="lazy">
    <a mat-raised-button color="primary" href="https://pay.hotmart.com/A89333456K?off=cpgp6j03&bid=1718758115372" target="_blank">Compre agora</a>

    <mat-expansion-panel class="m-t-6" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="text-color-primary">Clique aqui para mais informações</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxFlex>
        <p>
          Em "Sucesso Existencial", André Silva, em colaboração com Jean Paul Fraussat e Evelyn Pereira, desbravam as
          sendas
          que levam ao equilíbrio e prosperidade nas dimensões importantes da vida: carreira, família e espiritualidade.
          Este não é apenas um livro; é um manual despretensioso para mudanças autodirigidas, uma bússola para quem
          busca
          não apenas o sucesso, mas uma vida plena e significativa.
        </p>
        <p>
          Abordando teorias administrativas, filosóficas e psicológicas, os autores oferecem uma abordagem única que vai
          além do convencional. Cada capítulo é uma peça do quebra-cabeça do sucesso existencial, sustentado pela
          autoridade
          que advém não apenas da erudição, mas da experiência concreta
        </p>
        <p>
          Através da prática do autoconhecimento e do cultivo do pensamento crítico, os leitores são guiados em uma
          jornada
          transformadora. O diferencial competitivo deste livro reside na sua capacidade de proporcionar não apenas
          insights, mas ferramentas tangíveis para a ascensão de carreira, fortalecimento de relações familiares e
          sociais,
          e a busca por uma conexão mais profunda com o divino.
        </p>
        <p>
          A proposta inovadora torna cada página uma oportunidade preciosa, um convite para iniciar a mudança agora.
          "Sucesso Existencial" não é apenas uma leitura; é um investimento na sua própria evolução. Seja inspirado,
          capacitado e guiado por um livro que vai além das expectativas, moldando o seu caminho para o sucesso
          existencial.
        </p>
      </div>

    </mat-expansion-panel>
  </mat-card>

  <mat-card fxFlex="30" fxFlex.xs="100">
    <img mat-card-image class="height-img mat-elevation-z3" src="./assets/img/livros/bussola_proposito_evolucao.png"
      loading="lazy">
    <a mat-raised-button
      color="primary"
      href="https://pay.hotmart.com/X93724612H?off=ukqaigcs&_hi=eyJjaWQiOiIxNzE4MjM0MDU2NDYwNDA5MDM3ODA1MjQwNTMxMjYwIiwiYmlkIjoiMTcxODIzNDA1NjQ2MDQwOTAzNzgwNTI0MDUzMTI2MCIsInNpZCI6ImJjZGZlMmJkMjYwYTRkMmVhOWNkMGY4YzM4MzU4OGEyIn0=.1718757818103&bid=1718757820287"
      target="_blank"
    >Compre agora</a>

    <mat-expansion-panel class="m-t-6" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="text-color-primary">Clique aqui para mais informações</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxFlex>
        <p>
          Em 'Bússola do Propósito de Evolução - Velas da Plenitude', somos conduzidos por uma viagem de auto exploração
          e crescimento pessoal através de um compêndio de artigos perspicazes e inspiradores. Cada capítulo comporta um
          artigo de opnião com temas fundamentais para o nosso desenvolvimento, desde a persistência diante dos desafios
          até a busca pelo sentido da vida, passando pela importância da autenticidade e empatia nas relações humanas.
        </p>
        <p>
          Com uma linguagem acessível e reflexiva, este livro nos convida a refletir sobre nossas escolhas e
          comportamentos, incentivando-nos a cultivar uma visão mais consciente e equilibrada da existência. Cada artigo
          oferece orientações valiosas e práticas, guiando-nos em nossa caminhada de autoconhecimento e evolução.
        </p>
        <p>
          'Bússola do Propósito de Evolução - Velas da Plenitude' é uma leitura indispensável para todos aqueles que
          buscam entender melhor a si mesmos, alcançar seu verdadeiro potencial e construir uma vida de significado e
          realização
        </p>
        <p>
          Um guia essencial para navegarmos pelos desafios da vida com sabedoria, propósito e altivez
        </p>
      </div>

    </mat-expansion-panel>
  </mat-card>

  <mat-card fxFlex="30" fxFlex.xs="100">
    <img mat-card-image class="height-img mat-elevation-z3"
      src="./assets/img/livros/tutorial_definitivo_primeiro_emprego.jpg" loading="lazy">
    <a
      mat-raised-button
      color="primary"
      href="https://pay.hotmart.com/N93724832Q?off=8rwprmzk&_hi=eyJjaWQiOiIxNzE4MjM0MDU2NDYwNDA5MDM3ODA1MjQwNTMxMjYwIiwiYmlkIjoiMTcxODIzNDA1NjQ2MDQwOTAzNzgwNTI0MDUzMTI2MCIsInNpZCI6ImJjZGZlMmJkMjYwYTRkMmVhOWNkMGY4YzM4MzU4OGEyIn0=.1718757906869&bid=1718757908571"
      target="_blank"
    >Compre agora</a>

    <mat-expansion-panel class="m-t-6" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="text-color-primary">Clique aqui para mais informações</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxFlex>
        <p>
          Em "Tutorial Definitivo do Primeiro Emprego – Rumo ao Sucesso Existencial", os autores André Silva, Evelyn
          Pereira e Jean Paul Fraussat unem suas experiências e conhecimentos para oferecer um guia completo e acessível
          sobre como impulsionar sua carreira. De forma ordenada e acessível, o livro reúne todas as informações
          essenciais para aqueles que desejam se destacar no mercado de trabalho.
        </p>
        <p>
          Com uma abordagem prática e direta, os autores compartilham valiosas técnicas e ferramentas para
          diferenciar-lhe dos demais concorrentes e alcançar o sucesso profissional. Desde a elaboração de um currículo
          impactante até estratégias eficazes para se destacar em entrevistas de emprego, " Tutorial Definitivo do
          Primeiro Emprego" oferece um caminho claro e eficiente para quem busca alavancar sua carreira.
        </p>
        <p>
          Com este livro, você terá acesso rápido e prático a tudo o que precisa saber para ascender profissionalmente,
          permitindo que você se destaque em um mercado cada vez mais competitivo. Seja você um recém-formado em busca
          do primeiro emprego ou um profissional experiente em busca de novas oportunidades, " Tutorial Definitivo do
          Primeiro Emprego " será seu guia indispensável para alcançar seus objetivos de carreira.
        </p>
      </div>

    </mat-expansion-panel>
  </mat-card>
</div>
